<h1>CatMessage#sendtext</h1>
<p>Find me in app/views/cat_message/sendtext.html.erb</p>
<%= simple_form_for :message do |f| %>
  <%= f.input :message, as: :text, input_html: { rows: 3 } %>
  <%= f.input :tel, hint: 'Text will go only to my number 4846325324'  %>
  <%= f.button :submit, 'Send Text' %>
<% end %>
